binsec/
squashfs-root/

*.bin
*.o
*.so
*.a
*.elf
tools-paper.tgz

.binsec-config/
*.log
*.bak
__pycache__/
*.pyc
.vscode/
.DS_Store

example.dir/
*.dir/
build/

*.swp
*.swo
*~

venv/
.venv/
env/

.pytest_cache/
*.egg-info/
dist/
