[kernel]
isa = x86
entrypoint = main

[x86]
protected-mode = true

[sse]
enabled = true
depth = 10000
directives = 0x80498c0 cut;0x80498a5 cut;0x804987c cut;0x804989e reach;0x80498ae assume (@[0x080e3f50,1] = @[0x080e3f51,1]);0x80498ae assume (@[0x080e3f52,1] <> @[0x080e3f56,1]);0x80498ae assume (@[0x080e3f50,1] = @[0x080e3f54,1])
robust = true
robust-merge = yes
robust-mode = validation

[fml]
solver = z3
universal-mode = quantifier
unquantify-memory = true
optim-all = true

