[kernel]
isa = x86
entrypoint = main

[x86]
protected-mode = true

[sse]
enabled = true
depth = 10000
directives = 0x8049897 cut;0x804987c cut;0x80498ac cut;0x80498a5 reach;0x8049885 assume (ebp<32> <> 0x00000000) & (ebx<32> <> 0x00000000) & (@[0xfff7ffd8,1] <> 0x00) & (@[0xfff7ffd9,1] <> 0x00) & (@[0xfff7ffda,1] <> 0xdb) & (@[0xfff7ffdc,1] <> 0x00) & (@[0xfff7ffdd,1] <> 0x00) & (@[0xfff7ffde,1] <> 0xdb) & (@[0xfff7ffdf,1] <> 0xaf)
ignore-controlled = true

[fml]
solver = z3

