sp<32> := 0xffffff00;
t<1> := 1<1>; #thumb mode on
controlled dummy<32>;
@[{{ data.get_hex8loc('g_ptc') }},1] := [ 1<8>, 3<8> ]s;
@[{{ data.get_hex8loc('g_countermeasure') }},1] := 0<8>;
{% for loc, val in data._memory.items() -%}
@[{{ data.get_hex8(loc) }},4] := {{ data.get_hex8(val) }};
{% endfor %}
