[kernel]
isa = x86
entrypoint = main

[x86]
protected-mode = true

[sse]
enabled = true
depth = 10000
directives = 0x804917d reach
ignore-controlled = true       # para no reventar por dummy controlado
all-controlled = true
no-loader = true               # fuerza a empezar en main, sin _init/_start

[fml]
solver = z3

