[kernel]
isa = x86
entrypoint = main

[x86]
protected-mode = true

[sse]
enabled = true
depth = 10000
directives = 0x8049897 cut;0x804987c cut;0x80498ac cut;0x8049875 reach;0x8049885 assume (0x000000::@[0x080e3f50,1] <s ebp<32>);0x8049885 assume (ebp<32> <s ebx<32>)
ignore-controlled = true

[fml]
solver = z3

